<nav style="display: flex; width: 100%; height: 30px; background: #fff; padding: 10px 0 0px 0;">
    <a routerLink="/todos" style="margin-left: 50px;" type="button"><img style="max-width: 100%; height: 20px;" src="../../../assets/icon.png"></a>
    <a routerLink="/dashboard" style="margin-left: auto; margin-right: 50px; text-decoration: none;" type="button">
        <img style="max-width: 100%; height: 20px;" src="../../../assets/stock-earnings.png">
        <span style="text-decoration: none; color: #000;
         font-family: Arial, Helvetica, sans-serif; font-weight: bold; padding-bottom: 15px;">
         Dashboard</span>
    </a>
</nav>