<!-- <app-todos (todosEmit)="catchTodos($event)"></app-todos> -->

<div>
    <h2 style="text-align: center;     font-family: Arial, Helvetica, sans-serif;
    color: #fff;">Daily progress:</h2>
  <div style="display: block; position: relative; height: 400px; width:400px;">
        <canvas  baseChart
        [datasets]="chartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"></canvas>
  </div>
</div>