<!-- <div style="display: flex; justify-content: center;">
        <app-statistic></app-statistic>
</div> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- Routed components go here -->
