<div class="home">
    <app-category></app-category>
<section class="todo-section">
    <header class="todo-header">
        <h1>My todo planner</h1>
        <div class="todo-header-area">
            <input 
                #todoTitle type="text" 
                placeholder="Let's do something!" 
                (keyup.enter)="addTodo(todoTitle.value)">
            <button type="button" (click)="removeAll()">delete all</button>
        </div>
    </header>
    <main>
        <div *ngFor="let todo of todos">
            <div class="todo-list-item">
                <input class="list-item-checkbox" [checked]="todo.completed" (click)="completeTodo(todo.id)" type="checkbox">
                <input id="{{todo.id}}" class="list-item-title" value="{{todo.title}}" 
                (focusout)="editTitle(todo.id)"/>
                <select (change)="changeCategory(todo, $event.target.value)"
                style="margin-left: auto;"> 
                        <option>Choose category</option>
                        <option [selected]="todo.categoryId === category.id" 
                        *ngFor="let category of categories">
                        {{category.name}}</option>
                    </select>
                <button style="cursor: pointer; margin-left: 5px;" type="button" (click)="onClick(todo)">▼</button>
            </div>
            <div class="item-list-description" *ngIf="todo.showDetails">
                <p>
                    <label for="notes">Notes:</label>
                    <textarea 
                    name="notes" 
                    [attr.id]="'notes'+todo.id" 
                    cols="30" 
                    rows="10" 
                    placeholder="Why not write some notes?"
                    (blur)="editNotes(todo.id)"
                    [value]="todo.notes"></textarea>
                </p>
                <div class="item-description-right">
                    <span>Priority:</span>
                    <br>
                    <select (change)="changePriority(todo.id, $event.target.value)">
                        <option *ngFor="let priority of priorities"
                        [selected] = "priority === todo.priority">{{priority}}</option>
                    </select>
                    <div class="todo-date-input">
                        <label for="due-date">Accomplishment Date:</label>
                        <input type="date" [attr.id]="'date'+todo.id" name="due-date" [value]="todo.accomplishmentDate" (change)="setAccomplishmentDate(todo.id)">
                    </div>
                    <button style="margin-top: 15px;" type="button" (click)="removeTodo(todo.id)">Remove</button>
                </div>
            </div>
        </div>
    </main>
</section>
</div>