*{
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    display: flex;
    justify-content: center;
}

.todo-section {
    margin-left: 80px;
}

.todo-header {
    width: 510px;
    margin: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.todo-header-area {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 10px;
    background: #fff;
    padding: 15px;
}

.todo-header > h1 {
    width: 100%;
}



.todo-list-item {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
    align-items: center;
    background: #fff;
    padding: 5px;
    margin-top: 10px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.item-list-description {
    width: 500px;
    margin: auto;
    align-items: center;
    background: #fff;
    padding: 5px;
    margin-top: -15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    grid-gap: 10px;
}

.item-list-description > label {
    display: block;
    justify-self: start;
    color: #666;
}

.item-description-right {
    margin-top: 25px;
}

.item-list-description > p {
    margin-top: 5px;
    margin-bottom: 0;
}

.item-list-description > p > textarea {
    resize: none;
}

.list-item-title {
    display: block;
    padding: 5px;
    margin-left: 15px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid transparent;
}

.list-item-edit {
    display: block;
    padding: 5px;
    margin: 15px;
    /* min-width: 100%; */
}

.list-item-title:hover {
    border-radius: 5px;
    border: 1px solid tan;
}

.list-item-title:focus {
    background: tan;
    border-radius: 5px;
    border: 1px solid tan;
}

.todo-list-item > button {
    border: none;
    padding: 5px 10px 5px 10px;
    margin-left: auto;
    cursor: pointer;
}

.todo-date-input {
    margin-top: 25px;
}