.category-item {
    border: none;
    padding: 5px;
    background: transparent;
    text-emphasis-color: #fff;
    cursor: pointer;
}

.category-item:hover {
    border: none;
    padding: 5px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.356);
    text-emphasis-color: #fff;
    cursor: pointer;
}

/* .active {
    background: transparent !important;
    border: 1px solid #fff !important;
    cursor: pointer;
} */

.category-item:focus {
    border: none;
    padding: 5px;
    background: #fff;
    text-emphasis-color: #fff;
    cursor: text;
}

.category-row {
    padding: 15px;
    background: #fff;
    border: 1px solid transparent;
}

.category-row:hover {
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.remove-category {
    cursor: pointer;
    background:transparent;
    padding: 2px 8px;
    margin-left: 8px;
}

.remove-category:hover {
    background: rgba(255, 255, 255, 0.356);
    border-radius: 2px;
}
