<section style="width: 300px;">
        <header>
            <h1 style="color: #fff;">Categories</h1>
            <div style="padding: 15px; background-color: #fff;">
                <input #categoryName
                (keyup.enter)="addCategory(categoryName.value)"
                 type="text" 
                 placeholder="Create new category"> 
            </div>
        </header>
        <main>
            <div *ngFor="let category of categories">
                <div class="category-row" 
                (click)="toggleCategory(category.id)"
                  [class.active]="category.active">
                    <input #editCategory class="category-item" 
                    [attr.disabled]="disabled ? 'category.enabled' : null"
                    [attr.id]="'editCategory'+category.id" 
                    type="text" 
                    value="{{category.name}}" 
                    (focusout)="updateCategory(category.id, editCategory.value)"
                    (click)="activateEdit(category.id)"/>
                    <a class="remove-category" (click)="removeCategory(category.id)" type="button">х</a>
                </div>
            </div>
        </main>
</section>