
/* You can add global styles to this file, and also import other style files */
html {
    background: linear-gradient(to right, rgb(211, 131, 18), rgb(168, 50, 121));
}

body {
    margin: 0;
    padding: 0;
}